@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.feed {
  
  h3 {
    margin-top: -0.5rem;
    font-weight: 400;
  }

  .feed__item-image {

    & img {
      width: 100%;
      height: 100%;
      max-width: 175px;
      max-height: 175px;
    }
  }

  &__item {
    clear: both;

    hr {
      clear: both;
    }

    &:last-child {
      @include margin-bottom(.5);

        & hr {
          display: none !important;
        }
    }

    &-title {
      font-size: $typographic-base-font-size * 1.6875;
      @include line-height(1.5);
      @include margin-top(0);
      @include margin-bottom(.5);

      &-link {
        color: $color-base;

        &:hover,
        &:focus {
          color: $color-base;
        }

      }

    }

    &-description {
      font-size: $typographic-base-font-size;
      @include line-height(1);
      @include margin-bottom(.75);
    }

    &-meta {
      &-time {
        font-size: $typographic-small-font-size;
        color: $color-base;
        font-weight: 600;
        text-transform: uppercase;
      }

      &-divider {
        margin: 0 5px;
      }

      &-category {
        &-link {
          font-size: $typographic-small-font-size;
          color: $color-accent;
          font-weight: 600;
          text-transform: uppercase;

          &:hover,
          &:focus {
            color: $color-accent;
          }

        }

      }

    }

    &-readmore {
      font-size: $typographic-base-font-size;
      color: $color-secondary;
      @include margin-bottom(1.5);

      &:hover,
      &:focus {
        color: $color-primary;
      }

    }

  }

  .feed__item-image {
    margin: 0.5rem auto;
    float: none;
    lost-column: 12/12;
    text-align: center;
    
    img {
      margin: 0 auto;
      float: none;
      text-align: center;
    }
  }

  .feed__item-description {
    margin-right: 0;
    margin-top: 0.5rem;
    float: none;
    lost-column: 12/12;
  }

  @include breakpoint-md {
    .feed__item-image {
      margin-right: 0;
      float: left;
      lost-column: 3/12;
      text-align: left;
      
      img {
        margin: 0 auto;
        float: none;
        text-align: center;
      }
    }

    .feed__item-description {
      float: right;
      margin-right: 0;
      margin-bottom: 1rem;
      lost-column: 8/12;
    }
  }

  @media (prefers-color-scheme: dark) { 
    &__item-title-link {
      color: $color-gray-border;

      &:hover,
      &:focus {
        color: $color-primary;
      }
    }

    &__item-meta-time {
      color: $color-white;
    }
  }

}