/** 
 * Variables
 */

// Colors
$color-base: #222; // gray
$color-primary: #2ec4b6; // teal
$color-secondary: #E90909; // red
$color-accent: #FF9F1c; // orange

$color-white: #FFF;
$color-gray: lighten($color-base, 30%);
$color-gray-border: #757575;
$color-gray-bg: lighten($color-base, 65%);
$color-black: #000;

// Typographic
$typographic-font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

$typographic-root-font-size: 100;
$typographic-huge-font-size: 34px;
$typographic-large-font-size: 28px;
$typographic-base-font-size: 16px;
$typographic-small-font-size: 14px;

$typographic-base-line-height: 1.625;

$typographic-base-font-color: $color-base;
$typographic-link-p-font-color: $color-secondary;
$typographic-link-s-font-color: $color-primary;

$typographic-leading: round(16 * ($typographic-root-font-size / 100) * $typographic-base-line-height);

// Buttons
$button-height: 35px;
$button-border-radius: 20px;

// Layout
$layout-post-single-width: 945px;
$layout-post-width: $layout-post-single-width - 305px;

$layout-width: 1070px;
$layout-breakpoint-sm: 685px;
$layout-breakpoint-md: 960px;
$layout-breakpoint-lg: 1100px;
