/*member bio*/
.member-bio {
  padding: 2em auto;

  h2 {
    margin-top: .67em;
    margin-bottom: .67em;
  }

  h3 {
    color: #29BCAD;
    margin-top: .67em;
    margin-bottom: .67em;
  }

  /*.member-bio img, .member-bio h1, .member-bio h2{
  text-align: center;
  }*/
  /*bio adds*/

  .bio-image{
    margin-right: 2rem;
    margin-bottom: .5rem;
    margin-top: .5rem;
    border: 4px solid #ff9f1c;
    border-radius: 50%;
    text-align: center;
  }

  .pronouns{
    font-size: 16px;
  }
  .member-callout{
    border: 1px solid orange;
    width: 50%;
    float: left;
    padding: 1em;
  }
  .member-social{
    width: 40%;
    float: left;
    padding: 1em;
  }
  .social-links li{
    list-style-type: none;
    margin-bottom: 0;
  }
  .connect{
    margin-bottom: 10px;
  }
}
