@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.copyright {
  color: $color-gray-bg;
  font-size: $typographic-small-font-size;
}

@media (prefers-color-scheme: light) {
  .copyright {
    color: $color-gray-border;
  }
}