

.past-members{
  padding-top: 2rem;

  .past-members-grid {
    display: flex;
    .volunteer {
      padding-left: 1rem;
      width: 33%;
    }
    a {
      &:after {
        content: '→';
        padding-left: 1rem;
      }
    }
  }
}
