@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.author {
  text-align: center;

  &__photo {
    display: inline-block;
    margin-bottom: 0;
    border-radius: 50%;
    background-clip: padding-box
  }

  &__title {
    font-weight: 600;
    @include line-height(1.125);
    @include margin(.5, 0, .5, 0);

    &-link {
      color: $color-base;

      &:hover,
      &:focus {
        color: $color-base
      }

    }

  }

  &__subtitle {
    color: $color-gray;
    @include line-height(1);
    @include margin-bottom(1);
    @include margin-top(1);
    font-size: 0.9rem;
  }

}