@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.sidebar {
    width: 100%;
    &__inner {
        position: relative;
        padding: 25px 20px 0;
    }
}

@include breakpoint-sm {
    .sidebar {
      position: sticky;
      top: 0;

        lost-column: 4/12;
        &__inner {
            padding: 30px 20px 0;
            &:after {
                background: $color-gray-border;
                background: linear-gradient(to bottom, $color-gray-border 0%, $color-gray-border 48%, $color-white 100%);
                position: absolute;
                content: '';
                width: 1px;
                height: 540px;
                top: 30px;
                right: -10px;
                bottom: 0;
            }
        }
    }
}

@include breakpoint-md {
    .sidebar {
      position: sticky;
      top: 0;

        lost-column: 1/4;
        &__inner {
            padding: 30px;
        }
    }
}
