.member-card{
  width: 25%;
  text-align: center;
  .social-image{
    width: 60%;
    margin: 1rem auto;
    float: none;
    text-align: center;
  }
  h3{
    margin-top: 0;
    margin-bottom: .5rem;
    font-size: 1.2rem;
    text-align: center;
  }
}
