.member-card{
  width: 25%;
  text-align: center;
  .social-image{
    width: 60%;
    margin: 1em auto;
    float: none;
    text-align: center;
  }
  h3{
    font-size: 1.2em;
    text-align: center;
  }
}
